/* General */
body 
{
    background-color: #b3ffd9;
}

table 
{
    width: 100%;
    height: 100%;
}

canvas 
{
    background: #eef0f1;
    height: 100%;
    width:  100%;
}

div 
{
    width: 100%;
    height: 100%;
}

tr 
{
    width: 100%;
    vertical-align: center;
}

